<html lang="en" dir="ltr" xmlns:th="">
<header class="site__header d-lg-none">
    <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
    <div class="mobile-header mobile-header--sticky" data-sticky-mode="pullToShow">
        <div class="mobile-header__panel">
            <div class="container">
                <div class="mobile-header__body">
                    <button class="mobile-header__menu-button">
                        <svg width="18px" height="14px">
                            <use xlink:href="/sprite.svg#menu-18x14"></use>
                        </svg>
                    </button>
                    <a class="mobile-header__logo" href="index">
                        <img th:src="@{/images/logo.png}" alt="Logo" width="120px" height="20px">
                    </a>
                    <div class="search search--location--mobile-header mobile-header__search">
                        <div class="search__body">
                            <form class="search__form" method="get" action="/offers" id="searchForm2">
                                <!-- Search Input -->
                                <input class="search__input" name="search" placeholder="Търсете из всички наши продукти"
                                       aria-label="Site search" type="text" autocomplete="off">
                                <!-- Submit Button -->
                                <button class="search__button search__button--type--submit" type="submit">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="/sprite.svg#search-20"></use>
                                    </svg>
                                </button>
                                <div class="search__border"></div>
                            </form>
                        </div>
                    </div>
                    <div class="mobile-header__indicators">
                        <div class="indicator indicator--mobile-search indicator--mobile d-md-none">
                            <button class="indicator__button">
                                        <span class="indicator__area">
                                            <svg width="20px" height="20px">
                                                <use xlink:href="/sprite.svg#search-20"></use>
                                            </svg>
                                        </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- mobile site__header / end -->
<!-- desktop site__header -->
<header class="site__header d-lg-block d-none">
    <div class="site-header">
        <div class="site-header__middle container">
            <div class="site-header__logo">
                <a class="mobile-header__logo" href="index">
                    <img th:src="@{/images/logo.png}" alt="Logo" width="225" height="60px">
                </a>
            </div>
            <div class="site-header__search">
                <div class="search search--location--header ">
                    <div class="search__body">
                        <form class="search__form" method="get" action="/offers" id="searchForm">
                            <!-- Search Input -->
                            <input class="search__input" name="search" placeholder="Търсете из всички наши продукти"
                                   aria-label="Site search" type="text" autocomplete="off">
                            <!-- Submit Button -->
                            <button class="search__button search__button--type--submit" type="submit">
                                <svg width="20px" height="20px">
                                    <use xlink:href="/sprite.svg#search-20"></use>
                                </svg>
                            </button>
                            <div class="search__border"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="site-header__phone">
                <div class="site-header__phone-title">Обслужване на клиенти</div>
                <div class="site-header__phone-number">(800) 060-0730</div>
            </div>
        </div>
        <div class="site-header__nav-panel">
            <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
            <div class="nav-panel nav-panel--sticky" data-sticky-mode="pullToShow">
                <div class="nav-panel__container container">
                    <div class="nav-panel__row">
                        <div class="nav-panel__departments">
                            <!-- .departments -->
                            <div class="departments" data-departments-fixed-by="">
                                <div class="departments__body">
                                    <div class="departments__links-wrapper">
                                        <div class="departments__submenus-container"></div>
                                        <ul class="departments__links">
                                            <!-- Loop through the main categories -->
                                            <th:block th:each="category : ${categories}">
                                                <li class="departments__item">
                                                    <a class="departments__item-link">
                                                        <span th:text="${category.name}">Category Name</span>
                                                        <svg class="departments__item-arrow" width="6px" height="9px">
                                                            <use xlink:href="/sprite.svg#arrow-rounded-right-6x9"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="departments__submenu departments__submenu--type--megamenu departments__submenu--size--lg">
                                                        <!-- .megamenu -->
                                                        <div class="megamenu megamenu--departments">
                                                            <div class="megamenu__body"
                                                                 style="background-image: url('images/megamenu/megamenu-${category.name.replace(' ', '-').toLowerCase()}.jpg');">
                                                                <div class="row">
                                                                    <!-- Loop through subcategories -->
                                                                    <th:block
                                                                            th:each="subcategory : ${category.subcategories}">
                                                                        <div class="col-3">
                                                                            <ul class="megamenu__links megamenu__links--level--0">
                                                                                <li class="megamenu__item">
                                                                                    <a href="#"
                                                                                       th:href="@{/offers(subcategoryId=${subcategory.id})}">
                                                                                        <span th:text="${subcategory.name}">Subcategory Name</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </th:block>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .megamenu / end -->
                                                    </div>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </div>
                                <button class="departments__button">
                                    <svg class="departments__button-icon" width="18px" height="14px">
                                        <use xlink:href="/sprite.svg#menu-18x14"></use>
                                    </svg>
                                    Според категории
                                    <svg class="departments__button-arrow" width="9px" height="6px">
                                        <use xlink:href="/sprite.svg#arrow-rounded-down-9x6"></use>
                                    </svg>
                                </button>
                            </div>
                            <!-- .departments / end -->
                        </div>
                        <!-- .nav-links -->
                        <div class="nav-panel__nav-links nav-links">
                            <ul class="nav-links__list">
                                <li class="nav-links__item  nav-links__item--has-submenu ">
                                    <a class="nav-links__item-link" href="/index">
                                        <div class="nav-links__item-body">
                                            Начало
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-links__item nav-links__item--has-submenu">
                                    <a class="nav-links__item-link" href="#">
                                        <div class="nav-links__item-body">
                                            Меню
                                            <svg class="nav-links__item-arrow" width="9px" height="6px">
                                                <use xlink:href="/sprite.svg#arrow-rounded-down-9x6"></use>
                                            </svg>
                                        </div>
                                    </a>
                                    <div class="nav-links__submenu nav-links__submenu--type--megamenu nav-links__submenu--size--nl">
                                        <!-- .megamenu -->
                                        <div class="megamenu">
                                            <div class="megamenu__body">
                                                <div class="row">
                                                    <th:block th:each="category : ${categories}">
                                                        <div class="col-6">
                                                            <ul class="megamenu__links megamenu__links--level--0">
                                                                <li class="megamenu__item megamenu__item--with-submenu">
                                                                    <a>
                                                                        <span th:text="${category.name}">Category Name</span>
                                                                    </a>
                                                                    <ul class="megamenu__links megamenu__links--level--1">
                                                                        <th:block
                                                                                th:each="subcategory : ${category.subcategories}">
                                                                            <li class="megamenu__item">
                                                                                <!-- Update href with subcategoryId -->
                                                                                <a th:href="@{/offers(subcategoryId=${subcategory.id})}">
                                                                                    <span th:text="${subcategory.name}">Subcategory Name</span>
                                                                                </a>
                                                                            </li>
                                                                        </th:block>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .megamenu / end -->
                                    </div>
                                </li>
                                <li class="nav-links__item  nav-links__item--has-submenu ">
                                    <a class="nav-links__item-link" href="/offers">
                                        <div class="nav-links__item-body">
                                            Магазин
                                            <svg class="nav-links__item-arrow" width="9px" height="6px">
                                                <use xlink:href="/sprite.svg#arrow-rounded-down-9x6"></use>
                                            </svg>
                                        </div>
                                    </a>
                                    <div class="nav-links__submenu nav-links__submenu--type--menu">
                                        <!-- .menu -->
                                        <div class="menu menu--layout--classic ">
                                            <div class="menu__submenus-container"></div>
                                            <ul class="menu__list">
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="/offers">
                                                        Обяви
                                                    </a>
                                                </li>
                                                <th:block th:if="${session.sessionToken != null}">
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <a class="menu__item-link" href="/offers/create">
                                                            Създай обява
                                                        </a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                        <!-- .menu / end -->
                                    </div>
                                </li>
                                <li class="nav-links__item  nav-links__item--has-submenu ">
                                    <a class="nav-links__item-link" href="">
                                        <div class="nav-links__item-body">
                                            Акаунт
                                            <svg class="nav-links__item-arrow" width="9px" height="6px">
                                                <use xlink:href="/sprite.svg#arrow-rounded-down-9x6"></use>
                                            </svg>
                                        </div>
                                    </a>
                                    <div class="nav-links__submenu nav-links__submenu--type--menu">
                                        <!-- .menu -->
                                        <div class="menu menu--layout--classic ">
                                            <div class="menu__submenus-container"></div>
                                            <ul class="menu__list">
                                                <th:block th:if="${session.sessionToken == null}">
                                                    <li class="menu__item">
                                                        <a class="menu__item-link" href="/login">
                                                            <span class="align-middle">Впиши се</span>
                                                        </a>
                                                    </li>
                                                </th:block>
                                                <th:block th:if="${session.sessionToken == null}">
                                                    <li class="menu__item">
                                                        <a class="menu__item-link" href="/register">
                                                            <span class="align-middle">Регистрирай се</span>
                                                        </a>
                                                    </li>
                                                </th:block>
                                                <th:block th:if="${session.sessionToken != null}">
                                                    <li class="menu__item">
                                                        <a class="menu__item-link" href="/offers/all/user">
                                                            <span class="align-middle">Моите обяви</span>
                                                        </a>
                                                    </li>
                                                </th:block>
                                                <th:block th:if="${session.sessionToken != null}">
                                                    <li class="menu__item">
                                                        <a class="menu__item-link" href="/logout">
                                                            <span class="align-middle">Излез</span>
                                                        </a>
                                                    </li>
                                                </th:block>
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="account-dashboard.html">
                                                        Dashboard
                                                    </a>
                                                </li>
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="account-profile.html">
                                                        Edit Profile
                                                    </a>
                                                </li>
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="account-orders.html">
                                                        Order History
                                                    </a>
                                                </li>
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="account-order-details.html">
                                                        Order Details
                                                    </a>
                                                </li>
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="account-addresses.html">
                                                        Address Book
                                                    </a>
                                                </li>
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="account-edit-address.html">
                                                        Edit Address
                                                    </a>
                                                </li>
                                                <li class="menu__item">
                                                    <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                    <div class="menu__item-submenu-offset"></div>
                                                    <a class="menu__item-link" href="account-password.html">
                                                        Change Password
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- .menu / end -->
                                    </div>
                                </li>
                                <th:block th:if="${session.sessionToken != null and session.sessionRole == 'ADMIN'}">
                                    <li class="nav-links__item  nav-links__item--has-submenu ">
                                        <a class="nav-links__item-link" href="">
                                            <div class="nav-links__item-body">
                                                Административно меню
                                                <svg class="nav-links__item-arrow" width="9px" height="6px">
                                                    <use xlink:href="/sprite.svg#arrow-rounded-down-9x6"></use>
                                                </svg>
                                            </div>
                                        </a>
                                        <div class="nav-links__submenu nav-links__submenu--type--menu">
                                            <!-- .menu -->
                                            <div class="menu menu--layout--classic ">
                                                <div class="menu__submenus-container"></div>
                                                <ul class="menu__list">
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <a class="menu__item-link" href="/offers/admin">
                                                            Обяви
                                                        </a>
                                                    </li>
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <a class="menu__item-link" href="/categories">
                                                            Категории
                                                        </a>
                                                    </li>
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <a class="menu__item-link" href="/subcategories">
                                                            Подкатегории
                                                        </a>
                                                    </li>
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <a class="menu__item-link" href="/countries">
                                                            Държави
                                                        </a>
                                                    </li>
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <a class="menu__item-link" href="/regions">
                                                            Региони
                                                        </a>
                                                    </li>
                                                    <li class="menu__item">
                                                        <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                                                        <div class="menu__item-submenu-offset"></div>
                                                        <a class="menu__item-link" href="/cities">
                                                            Градове
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- .menu / end -->
                                        </div>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>