<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="Mashinite е водещият български портал за машини, предлагащ широк асортимент от оборудване и резервни части за различни индустрии.
    Машини и оборудване. Безплатни обяви за строителни, транспортни машини и други, кранове, мотокари, платформи. Покупко-продажба на автосервизно оборудване, медицинско и лабораторно оборудване.">
  <meta name="keywords"
        content="машини, mashini, mashinite, mashina, машина, обяви, продан, части, машинни части, оборудване, индустриално оборудване, строителна техника, селскостопански машини, резервни части, Mashinite, България">
  <meta name="author" content="Екипът на Mashinite">

  <!-- Open Graph meta tags -->
  <meta property="og:title" content="Mashinite - Водещ портал за машини в България">
  <meta property="og:description"
        content="Mashinite предлага най-доброто място за търговия с машини, резервни части и производствени оборудвания.">
  <meta property="og:type" content="website">

  <title>Машините</title>
  <link rel="stylesheet" th:href="@{/css/404.css}">
</head>

<body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>УПС</h1>
        <h2>404 - Страницата не може да бъде намерена</h2>
      </div>
      <a href="/">Отиди на началната страница</a>
    </div>
  </div>
</body>
</html>