<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>За нас</title>
    <th:block th:insert="~{fragments/links}"></th:block>
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- desktop site__header / end -->
    <!-- site__body -->
    <div class="site__body">
        <!-- .block-slideshow -->
        <div class="block about-us">
            <div class="about-us__image"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-10">
                        <div class="about-us__body">

                            <h1 class="about-us__title">ЗА НАС</h1>
                            <div class="about-us__text typography">
                                <h5>Добре дошли в първия български портал за машини – Mashinite, лидер в интернет пазара
                                    на машини!</h5>
                                <p>
                                    Нашият сайт е създаден с мисията да предостави най-доброто място за търговия с
                                    машини, резервни части и
                                    цели производствени оборудвания.
                                    Тук ще намерите богат асортимент от машини за всякакви нужди и индустрии – от
                                    строителна техника и
                                    селскостопански машини до индустриални съоръжения и специализирани инструменти.<br>

                                    С Mashinite можете лесно да публикувате обяви за продажба на вашите машини и
                                    оборудване,
                                    като достигате до широка аудитория от потенциални купувачи. Нашият портал е
                                    проектиран с удобство
                                    и ефективност на първо място, за да можете бързо и лесно да намерите точно това,
                                    което търсите. <br>

                                    Освен това, ние предлагаме специализирани категории за резервни части, които ще ви
                                    помогнат да
                                    поддържате вашите машини в отлично състояние. Възползвайте се от нашата обширна
                                    мрежа от доставчици
                                    и купувачи, за да намерите най-добрите предложения на пазара. <br>

                                    Не пропускайте възможността да се присъедините към общността на Mashinite, където
                                    иновациите
                                    и качеството са наш приоритет. Независимо дали продавате или купувате, нашият портал
                                    е вашият надежден партньор в света на машините и оборудването. Разгледайте нашите
                                    обяви, публикувайте своите и се възползвайте от всички предимства, които
                                    Mashinite предлага!
                                </p>
                                <h5>Заповядайте и открийте безкрайните възможности на машинния пазар!</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>

</html>