<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Mashinite е водещият български портал за машини, предлагащ широк асортимент от оборудване и резервни части за различни индустрии.
    Машини и оборудване. Безплатни обяви за строителни, транспортни машини и други, кранове, мотокари, платформи. Покупко-продажба на автосервизно оборудване, медицинско и лабораторно оборудване.">
    <meta name="keywords" content="машини, mashini, mashinite, mashina, машина, обяви, продан, части, машинни части, оборудване, индустриално оборудване, строителна техника, селскостопански машини, резервни части, Mashinite, България">
    <meta name="author" content="Екипът на Mashinite">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Mashinite - Водещ портал за машини в България">
    <meta property="og:description" content="Mashinite предлага най-доброто място за търговия с машини, резервни части и производствени оборудвания.">
    <meta property="og:type" content="website">

    <title>За нас</title>
    <th:block th:insert="~{fragments/links}"></th:block>
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- desktop site__header / end -->
    <!-- site__body -->
    <div class="site__body">
        <!-- .block-slideshow -->
        <div class="block about-us">
            <div class="about-us__image"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-10">
                        <div class="about-us__body">
                            <h1 class="about-us__title">Възникна неочаквана грешка! <br> Моля опитайне отново!</h1>
                            <div class="about-us__text typography">
                                <a href="/index" class="footer-links__link">Начало</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>

</html>