<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Mashinite е водещият български портал за машини, предлагащ широк асортимент от оборудване и резервни части за различни индустрии.
    Машини и оборудване. Безплатни обяви за строителни, транспортни машини и други, кранове, мотокари, платформи. Покупко-продажба на автосервизно оборудване, медицинско и лабораторно оборудване.
    Забравена парола за Mashinite - Възстановяване на достъп до вашия акаунт.">
    <meta name="keywords" content="забравена парола, възстановяване на парола, Mashinite, акаунт, достъп, машини, mashini, mashinite, mashina, машина, обяви, продан, части, машинни части, оборудване, индустриално оборудване, строителна техника, селскостопански машини, резервни части, Mashinite, България">
    <meta name="author" content="Екипът на Mashinite">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Забравена парола - Mashinite">
    <meta property="og:description" content="Mashinite предлага най-доброто място за търговия с машини, резервни части и производствени оборудвания.
    Възстановете достъпа до вашия акаунт в Mashinite, като изпратите линк за нулиране на паролата.">
    <meta property="og:type" content="website">
    <title>Забравена парола</title>
    <th:block th:insert="~{fragments/links}"></th:block>
    <link rel="stylesheet" th:href="@{/css/toast.css}">
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- site__body -->
    <div class="site__body">
        <div class="block">
            <div class="container">
                <div>
                    <div class="col-md-6 d-flex flex-column" style="padding-top: 20px; margin: 0 auto;">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center;">Успешно изпратен линк за нулиране на
                                    паролата!</h3>
                                <div style="text-align: center;">
                                    <p style="text-align: center;">Линкът за нулиране на паролата на акаунта Ви е
                                        изпратен на посочения имейл.</p>
                                    <p style="text-align: center;">Проверете пощата си и последвайте връзката.</p>
                                    <a href="/">Към началната страница</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>
