<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Забравена парола</title>
    <th:block th:insert="~{fragments/links}"></th:block>
    <link rel="stylesheet" th:href="@{/css/toast.css}">
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- site__body -->
    <div class="site__body">
        <div class="block">
            <div class="container">
                <div>
                    <div class="col-md-6 d-flex flex-column" style="padding-top: 20px; margin: 0 auto;">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center;">Успешно изпратен линк за нулиране на
                                    паролата!</h3>
                                <div style="text-align: center;">
                                    <p style="text-align: center;">Линкът за нулиране на паролата на акаунта Ви е
                                        изпратен на посочения имейл.</p>
                                    <p style="text-align: center;">Проверете пощата си и последвайте връзката.</p>
                                    <a href="/index">Към началната страница</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>
