<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Забравена парола</title>
    <th:block th:insert="~{fragments/links}"></th:block>
    <link rel="stylesheet" th:href="@{/css/toast.css}">
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- site__body -->
    <div class="site__body">
        <!-- Toast notification container -->
        <div id="toast" class="toast"></div>

        <!-- Hidden error message container for Thymeleaf -->
        <p id="error-message-hidden" th:text="${error}" th:if="${error}" style="display: none;">Error message will
            appear here</p>
        <div class="block">
            <div class="container">
                <div>
                    <div class="col-md-6 d-flex flex-column" style="padding-top: 20px; margin: 0 auto;">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center;">Забравена парола</h3>
                                <div style="text-align: center;">
                                    <form th:action="@{/forgot-password}" method="post">
                                        <div class="form-group">
                                            <input type="email" id="email" name="email" class="form-control"
                                                   placeholder="Въведи имейла си" required>
                                        </div>
                                        <div id="error-message" style="color: red;"></div>
                                        <button type="submit" class="btn btn-primary mt-4" style="text-align: center;">
                                            Изпратете линка за нулиране
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- site__body / end -->
            <!-- site__footer -->
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
<!-- Include the toast.js file -->
<script th:src="@{/js/toast.js}"></script>
</body>
</html>
