<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Mashinite е водещият български портал за машини, предлагащ широк асортимент от оборудване и резервни части за различни индустрии.
    Машини и оборудване. Безплатни обяви за строителни, транспортни машини и други, кранове, мотокари, платформи. Покупко-продажба на автосервизно оборудване, медицинско и лабораторно оборудване.">
    <meta name="keywords" content="машини, mashini, mashinite, mashina, машина, обяви, продан, части, машинни части, оборудване, индустриално оборудване, строителна техника, селскостопански машини, резервни части, Mashinite, България">
    <meta name="author" content="Екипът на Mashinite">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Mashinite - Водещ портал за машини в България">
    <meta property="og:description" content="Mashinite предлага най-доброто място за търговия с машини, резервни части и производствени оборудвания.">
    <meta property="og:type" content="website">

    <title>Машините</title>
    <script type="text/javascript">
        window.onload = function () {
            const user = JSON.parse(sessionStorage.getItem('user'));

            if (user) {
                document.getElementById('welcome-message').innerText = `Welcome, ${user.name}!`;
                document.getElementById('user-email').innerText = `Email: ${user.email}`;
            } else {
                // Redirect to login if no user data in session
                window.location.href = '/login';
            }
        };
    </script>
    <th:block th:insert="~{fragments/links}"></th:block>
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- desktop site__header / end -->
    <!-- site__body -->
    <div class="site__body">
        <!-- .block-slideshow -->
        <div class="block-slideshow block-slideshow--layout--with-departments block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-block"></div>
                    <div class="col-12 col-lg-9">
                        <div class="block-slideshow__body">
                            <div class="owl-carousel">
                                <a class="block-slideshow__slide" href="">
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                         style="background-image: url('images/slides/slide-11.jpg')"></div>
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                         style="background-image: url('images/slides/slide-1-mobile1.jpg')"></div>
                                    <div class="block-slideshow__slide-content">
                                        <h1 id="welcome-message">Welcome!</h1>
                                        <p id="user-email">Email: </p>
                                        <p>This is the home page.</p>
                                        <div class="block-slideshow__slide-title">Добре дошли<br>
                                            в първия български портал<br>
                                            за машини
                                        </div>
                                        <div class="block-slideshow__slide-text">
                                        </div>
                                        <div class="block-slideshow__slide-button">
                                            <form action="/offers" method="get">
                                                <button type="submit" class="btn btn-primary btn-lg">Разгледай сега</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <a class="block-slideshow__slide" href="">
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                         style="background-image: url('images/slides/slide-21.jpg')"></div>
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                         style="background-image: url('images/slides/slide-2-mobile1.jpg')"></div>
                                    <div class="block-slideshow__slide-content">
                                        <div class="block-slideshow__slide-title">Лидер в интернет пазара<br> на машините
                                        </div>
                                        <div class="block-slideshow__slide-text">
                                        </div>
                                        <div class="block-slideshow__slide-button">
                                            <form action="/offers" method="get">
                                                <button type="submit" class="btn btn-primary btn-lg">Онлайн магазин</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                <a class="block-slideshow__slide" href="">
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                         style="background-image: url('images/slides/slide-31.jpg')"></div>
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                         style="background-image: url('images/slides/slide-31-mobile.jpg')"></div>
                                    <div class="block-slideshow__slide-content">
                                        <div class="block-slideshow__slide-title">Обяви за машини<br> и инструменти</div>
                                        <div class="block-slideshow__slide-text">
                                        </div>
                                        <div class="block-slideshow__slide-button">
                                            <form action="/offers" method="get">
                                                <button type="submit" class="btn btn-primary btn-lg">Нашите машини</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block-slideshow / end -->
        <!-- .block-features -->
        <div class="block block-features block-features--layout--classic">
            <div class="container">
                <div class="block-features__list">
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-free-delivery-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">Free Shipping</div>
                            <div class="block-features__subtitle">For orders from $50</div>
                        </div>
                    </div>
                    <div class="block-features__divider"></div>
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-24-hours-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">Support 24/7</div>
                            <div class="block-features__subtitle">Call us anytime</div>
                        </div>
                    </div>
                    <div class="block-features__divider"></div>
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-payment-security-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">100% Safety</div>
                            <div class="block-features__subtitle">Only secure payments</div>
                        </div>
                    </div>
                    <div class="block-features__divider"></div>
                    <div class="block-features__item">
                        <div class="block-features__icon">
                            <svg width="48px" height="48px">
                                <use xlink:href="images/sprite.svg#fi-tag-48"></use>
                            </svg>
                        </div>
                        <div class="block-features__content">
                            <div class="block-features__title">Hot Offers</div>
                            <div class="block-features__subtitle">Discounts up to 90%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block-features / end -->
        <!-- .block-products-carousel -->
        <div class="block block-products-carousel" data-layout="grid-4" data-mobile-grid-columns="2">
            <div class="container">
                <div class="block-header">
                    <h3 class="block-header__title">Нашите най-скорошни обяви</h3>
                    <div class="block-header__divider"></div>
                    <div class="block-header__arrows-list">
                        <button class="block-header__arrow block-header__arrow--left" type="button">
                            <svg width="7px" height="11px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                            </svg>
                        </button>
                        <button class="block-header__arrow block-header__arrow--right" type="button">
                            <svg width="7px" height="11px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="block-products-carousel__slider">
                    <div class="block-products-carousel__preloader"></div>
                    <div class="block block-products-carousel" data-layout="grid-5" data-mobile-grid-columns="2">
                        <div class="container">
                            <div class="block-products-carousel__slider">
                                <div class="owl-carousel">
                                    <div class="block-products-carousel__column"
                                         th:each="similarOffer : ${offers}">
                                        <div class="block-products-carousel__cell">
                                            <div class="product-card product-card--hidden-actions">
                                                <!-- Quick View Button -->
                                                <!-- Badges -->
                                                <div class="product-card__badges-list">
                                                    <div th:switch="${similarOffer.offerState.name()}">
                                                        <div th:case="'NEW'"
                                                             class="product-card__badge product-card__badge--new">НОВ
                                                        </div>
                                                        <div th:case="'NEW_IMPORTATION'"
                                                             class="product-card__badge product-card__badge--hot">НОВ ВНОС
                                                        </div>
                                                        <div th:case="'USED'"
                                                             class="product-card__badge product-card__badge--sale">
                                                            ИЗПОЛЗВАНО
                                                        </div>
                                                    </div>
                                                    <div th:switch="${similarOffer.OfferSaleType.name()}">
                                                        <div th:case="'SALE'"
                                                             class="product-card__badge product-card__badge--new">ЗА ПРОДАН
                                                        </div>
                                                        <div th:case="'FOR_RENT'"
                                                             class="product-card__badge product-card__badge--hot">ПОД НАЕМ
                                                        </div>
                                                        <div th:case="'SERVICES'"
                                                             class="product-card__badge product-card__badge--sale">УСЛУГИ
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Product Image -->
                                                <div class="product-card__image product-image">
                                                    <a th:href="@{/offers/{id}(id=${similarOffer.id})}"
                                                       class="product-image__body">
                                                        <img th:src="@{${similarOffer.mainPicture.path}}"
                                                             class="product-image__img" alt="Similar Offer Image">
                                                    </a>
                                                </div>
                                                <!-- Product Info -->
                                                <div class="product-card__info">
                                                    <div class="product-card__name">
                                                        <a th:href="@{/offers/{id}(id=${similarOffer.id})}"
                                                           th:text="${similarOffer.title}">Offer Title</a>
                                                    </div>
                                                </div>
                                                <!-- Product Actions -->
                                                <div class="product-card__actions">
                                                    <div class="product-card__prices">
                                                        <p th:text="${similarOffer.price}">Цена</p>
                                                    </div>
                                                    <div class="product-card__buttons">
                                                        <a class="btn btn-primary product-card__addtocart"
                                                           th:href="@{/offers/{id}(id=${similarOffer.id})}"
                                                           role="button">
                                                            Прочети повече
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .block-products-carousel / end -->
        <!-- .block-banner -->
        <div class="block block-banner">
            <div class="container">
                <a href="" class="block-banner__body">
                    <div class="block-banner__image block-banner__image--desktop"
                         style="background-image: url('images/banners/banner-11.jpg')"></div>
                    <div class="block-banner__image block-banner__image--mobile"
                         style="background-image: url('images/banners/banner-1-mobile1.jpg')"></div>
                    <div class="block-banner__title">Лидер <br class="block-banner__mobile-br"> в пазара на машините</div>
                    <div class="block-banner__text">Имаш машини за продан? Публикувай обява!</div>
                    <div class="block-banner__button">
                        <form action="/offers/create" method="get">
                            <button type="submit" class="btn btn-sm btn-primary">Създай обява</button>
                        </form>
                    </div>
                </a>
            </div>
        </div>
        <div class="block block--highlighted block-categories block-categories--layout--classic">
            <div class="container">
                <div class="block-header">
                    <h3 class="block-header__title">Разгледайте нашите категории</h3>
                    <div class="block-header__divider"></div>
                </div>
                <div class="block-categories__list">
                    <!-- Iterate over categories -->
                    <div th:each="category : ${categories}" class="block-categories__item category-card category-card--layout--classic">
                        <div class="category-card__body">
                            <div class="category-card__content">
                                <div class="category-card__name">
                                    <a th:text="${category.name}"></a>
                                </div>
                                <ul class="category-card__links">
                                    <!-- Iterate over subcategories -->
                                    <li th:each="subcategory : ${category.subcategories}">
                                        <a th:href="@{/offers?subcategoryId={id}(id=${subcategory.id})}" th:text="${subcategory.name}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>

</html>