<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Впиши се</title>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- site__body -->
    <center>
        <div class="site__body">
            <div class="block">
                <div class="container">
                    <div>
                        <div class="col-md-6 d-flex flex-column" style="padding-top: 20px;">
                            <div class="card flex-grow-1 mb-md-0">
                                <div class="card-body">
                                    <h3 class="card-title" style="text-align: center;">Впиши се</h3>
                                    <form th:action="@{/register}" method="post">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control"
                                                       placeholder="Въведи имейл ">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" class="form-control"
                                                       placeholder="Въведи парола ">
                                                <small class="form-text text-muted">
                                                    <a href="">Забравена парола?</a>
                                                </small>
                                                <button type="submit" class="btn btn-primary mt-4">Впиши се</button>
                                            </div>
                                    </form>

<!--                                    TODO: change the hardcoded url-->
                                    <a href="http://localhost:8080/oauth2/authorization/google" class="btn btn-google">
                                        <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"
                                             alt="Впиши се с Google">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <!-- site__body / end -->
    <!-- site__footer -->
    <th:block th:insert="~{fragments/footer}"></th:block>
</div>
</body>
<style>
    /* Add your custom styles here */

.oauth-login {
    margin-top: 20px;
}

.btn-google {
    display: inline-block;
    margin: 10px 0;
    text-align: center;
}

.btn-google img {
    max-width: 100%;
    height: auto;
}
</style>
</html>