<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Mashinite е водещият български портал за машини, предлагащ широк асортимент от оборудване и резервни части за различни индустрии.
    Машини и оборудване. Безплатни обяви за строителни, транспортни машини и други, кранове, мотокари, платформи. Покупко-продажба на автосервизно оборудване, медицинско и лабораторно оборудване.">
    <meta name="keywords"
          content="машини, mashini, mashinite, mashina, машина, обяви, продан, части, машинни части, оборудване, индустриално оборудване, строителна техника, селскостопански машини, резервни части, Mashinite, България">
    <meta name="author" content="Екипът на Mashinite">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Mashinite - Водещ портал за машини в България">
    <meta property="og:description"
          content="Mashinite предлага най-доброто място за търговия с машини, резервни части и производствени оборудвания.">
    <meta property="og:type" content="website">

    <title>Общи условия</title>
    <th:block th:insert="~{fragments/links}"></th:block>
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- desktop site__header / end -->
    <!-- site__body -->
    <div class="site__body">
        <!-- .block-slideshow -->
        <div class="block about-us">
            <div class="about-us__image"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-10">
                        <div class="about-us__body">

                            <h1 class="about-us__title">Общи условия</h1>
                            <h5>Общи условия за използване на Mashinite</h5>
                            <p>
                            <h6>I. Предмет на условията</h6><br>
                            1. Mashinite, МОЛ: Сергей Станчев<br>
                            2. Общи условия са споразумение между Вас (потребител на услуги) и Mashinite.<br>
                            3. Mashinite предоставя чрез сайта Mashinite информативни услуги описани в
                            тези общи условия на своите потребители.<br>
                            4. Услуги без да е необходима предварителна регистрация са предоставяне на видео,
                            изображения, текст и други, включително предоставени от потребители.<br><br>

                            <h6>II. Обхват и влизане в сила</h6>
                            1. Общите условия се прилагат за всички потребители на сайта Mashinite.<br>
                            2. С влизането на Mashinite от потребителите се счита, че са запознати с настоящите
                            общи условия, съгласяват се с тях и се задължават да ги спазват. От този момент се приема,
                            че те влизат в сила и срокът им на действие изтича с прекратяване ползването.<br>
                            3. Когато се регистрира, чрез натискане на виртуалния бутон „Регистрирай“, „Регистрация“, „Изпрати“ с
                            условието, че това е съгласие с Общите условия, потребителят извършва изрично съгласие,
                            с което декларира, че е запознат с настоящите Общи условия, приема ги, съгласява се с
                            тях и се задължава да ги спазва. От този момент се приема, че те влизат в сила и срокът
                            им на действие изтича с прекратяване на регистрацията.<br>

                            <h6>III. Потребителска регистрация</h6>
                            1. При запитване на Mashinite се предоставят адрес на електронна поща, име и телефон.
                            Възможно е и добавянето на други данни по избор на потребителя.<br>
                            2. При запитването си потребителят посочва електронна поща, телефон и име. Чрез тях
                            потребителя получава достъп до потребителския си профил да ползва допълнителни услуги (I.4).<br>
                            3. Mashinite не проверява и не носи отговорност за споделените лични данни, за това
                            дали те засягат права на трети лица и в частност право на име или други лични права,
                            право на търговско наименование, право на запазена марка или други права на интелектуална
                            собственост.<br>

                            <h6>IV. Права и задължения на потребителя</h6>
                            1. Потребителят има право на онлайн достъп до услугите предоставяни от Mashinite.<br>
                            2. Регистрираният потребител има право да поиска от администратор да изтриване личните
                            данни съхранявани за него.<br>
                            3. Потребителят може да осъществява достъп до потребителско съдържание или всякакво
                            друго съдържание, публикувано на Сайтовете, единствено за лично ползване, при ползване
                            на нормалната им функционалност.<br>

                            <h6>V. Права и задължения на Mashinite</h6>
                            1. Mashinite се задължава да полага необходимите грижи за предоставяне на услугите
                            съобразно настоящите общи условия.<br>
                            2. Mashinite не носи отговорност за споделяното потребителското съдържание, както и
                            за дейността на потребителя във връзка с използване на предоставяните услуги.<br>
                            3. Mashinite има правото да поставя на всяка от страниците на сайта, линкове,
                            рекламни банери и рекламни съобщения за стоки и услуги, предлагани от дружеството или
                            от трети лица, както и линкове и рекламни банери, сочещи към уебсайтове, намиращи се
                            извън контрола на Mashinite. Дружеството не носи отговорност за съдържанието,
                            верността и законосъобразността на подобни интернет страници или ресурси, както и на
                            услуги или ресурси, които са станали достояние на потребителя при ползването услугите
                            на Сайтовете.<br>
                            4. Mashinite има право да предоставя възможност на трети страни да позиционират
                            реклама и/или рекламни съобщения посредством техни системи за управление на реклама,
                            както и да дава възможност на трети страни да получават автоматизирано данни за
                            поведението на потребителите за рекламни или статистически цели при спазване на
                            приложимите норми. За повече информация виж Политика за поверителност на личните данни.<br>
                            5. Mashinite има право да заличи или коригира публикувано потребителско съдържание,
                            или дори да заличи информация за потребител, който не спазва тези Общи условия.<br>
                            6. Mashinite има право да изпраща на предоставената от потребителя електронна поща
                            и телефон съобщения с търговски и нетърговски характер.<br>

                            <h6>VI. Интелектуална собственост</h6>
                            1. Всички права на интелектуална собственост върху информационните ресурси и материали,
                            публикувани на сайтовете от Mashinite са обект на закрила по действащия Закон за
                            авторското право и сродните му права, а нерегламентираното им използване представлява
                            закононарушение и може да доведе до гражданска, административно наказателна и наказателна
                            отговорност в съответствие с действащото българско законодателство. Публикуване на
                            значителна част от материал може да става само при поставяне на активен линк към материала.
                            Директно препечатване на материал (copy/paste) или препечатване с незначителни изменения
                            може да става само след изрично разрешение от Mashinite.<br>
                            2. С разполагането на текст или друг материал (собствено съдържание) на Mashinite,
                            потребител предоставя на Дружеството неизключителното право да го използва, записва,
                            съхранява, разпространява публично в Интернет, за нуждите на и във връзка с предоставянето
                            на услугите, предмет на Общите условия, без времеви и териториални ограничения.<br>
                            3. Регистрираният потребител е единствено отговорен за законността на потребителското
                            съдържание, което публикува или прави достъпно, чрез ползването на услугите на сайтa,
                            както и за действията си по публикуването му и за последствията от това публикуване.<br>

                            <h6>VII. Ограничаване на отговорността</h6>
                            1. При публикуване на медийно съдържание Mashinite се стреми да поддържа точна,
                            вярна и последна информация на сайта, но не може да гарантира, че няма да възникнат грешки,
                            несъответствия и пропуски. Дружеството не носи отговорност за последиците и евентуални
                            вреди,
                            породени от използването на информацията. Mashinite не носи отговорност за субективните
                            възприятия и интерпретация на точността, пълнотата и полезността на публикуваната
                            информация.
                            Mashinite не носи отговорност за информацията, съдържаща се в сайтове, към които някой
                            от нейните сайтове съдържа препратки.<br>
                            2. Mashinite полага грижи за предоставяне на възможност на потребителя за нормално
                            ползване на услугите които предоставя, но няма задължението и не гарантира, че
                            предоставяните
                            услуги ще удовлетворят изискванията на потребителя, нито че ще бъдат непрекъснати,
                            навременни
                            или сигурни. С приемане на настоящите Общи условия, потребителят декларира, че използването
                            на предоставяните услуги ще бъде изцяло на негов риск и отговорност, а страните се
                            съгласяват,
                            че Mashinite не отговоря за евентуално причинени на потребителя при ползване на
                            предоставяните услуги вреди.<br>
                            3. Mashinite не носи отговорност за потребителското собствено съдържание, както
                            и за дейността на потребителя във връзка с използване на услугите. Освен това, дружеството
                            не отговаря за произтеклите за други потребители вреди при достъпа или използването на
                            това съдържание, предоставено им от потребителя или станало достъпно чрез Сайта.<br>
                            4. Mashinite не носи отговорност за действията на трети страни позиционирали
                            реклама или рекламни съобщения в Сайта.<br>

                            <h6>VIII. Поверителност и лични данни</h6>
                            1. Mashinite обработва информацията, съдържаща идентифициращи данни,
                            предоставяни от потребителите онлайн посредством попълнените заявки за регистрация
                            и в резултат на техните действия в Сайта, спазвайки принципите на Общия регламент
                            за защита на личните данни (GDPR) и поетите ангажименти в Политиката за поверителност
                            на личните данни.<br>
                            2. Mashinite има право да събира и използва информация относно потребителите. И
                            нформацията, чрез която лицето може да бъде идентифицирано, може да включва адрес на
                            електронна поща, име и телефон, както и всяка друга информация, която потребителят
                            доброволно
                            въвежда, използва или предоставя при ползване на услугите. С оглед избягване на всякакво
                            съмнение, публикуваното от потребител собствено съдържание не се разглежда като лични данни
                            и поради това не е предмет на защитата, предоставяна относно личните данни на потребителя
                            съгласно настоящите Общи условия.<br>
                            3.Mashinite може да използва информация за посещаемостта на сайтовете,
                            действията на потребителите и данните попълнени при регистрация на профил за
                            осъществяване на услугите си с всичките им функционални възможности, за поддържане
                            на информационната сигурност, оптимизиране и предлагане на препоръчано съдържание,
                            статистически и маркетингови проучвания, позициониране на реклама и рекламни съобщения
                            и цели свързани с качеството и стабилността на предоставяните услуги и подобряването им.<br>
                            4. Mashinite има право самостоятелно, чрез трети лица или чрез автоматизирани
                            средства, да следи активности на потребителя, включващи, но не само:<br>
                            • отваряни страници на Сайта,<br>
                            • продължителност на престой в страницата,<br>
                            • попълнени анкети,<br>
                            • време и дата на засеченото събитие,<br>
                            при използването на Сайта с цел предоставянето на по-достъпни и по-атрактивни
                            функционалности
                            за потребителя или позициониране на реклама.<br>
                            5. Mashinite   може да предоставя на трети страни възможност за автоматизирано
                            събиране на данни за активностите на потребители за осъществяване основно на рекламни и
                            статистически цели.<br>
                            6. Потребителят има право по всяко време да откаже съхраняването или достъпа до
                            информацията,
                            съхранена в използваното от него крайно устройство при използване на „бисквитки“.
                            Забраната или изтриването на „бисквитки“ от страна на потребителя може да доведе до
                            пълна или частична невъзможност за достъп до Сайтовете или да получи услугите по тези
                            Общи условия. Виж Политиката за поверителност на личните данни.<br>

                            <h6>IX. Промени в общите условия</h6>
                            Mashinite   си запазва правото да извършва промени в настоящите Общи условия по всяко
                            време, като своевременно публикува промените в този сайт с линкове в останалите.<br>
                            За всички неуредени с настоящите Общи условия въпроси се прилага действащото българско
                            законодателство.<br>
                            Последна промяна 04.08.2024 г.<br><br>

                            <h6>Политика за използване на “бисквитки”</h6>
                            <h6>Какво са бисквитки?</h6>
                            Бисквитките са малки текстови файлове, които уебсайтът може да запише на вашия компютър
                            или мобилно устройство, когато посещавате страница или сайт. Бисквитката ще помогне на
                            сайта или на други сайтове да разпознаят вашето устройство следващия път, когато го
                            посетите.
                            Web beacons или други подобни файлове могат да правят същото. Използваме термина бисквитки в
                            тази политика, за да назоваваме всички файлове, които събират информация по този начин. <br>

                            <h6>Какви видове бисквитки използваме в сайта на Mashinite?</h6>
                            Временните бисквитки (или бисквитките от дадена сесия) ще се премахнат от компютъра, след
                            като затворите вашият браузър. Уеб сайтовете ги използват за съхраняване на временна
                            информация, например артикулите във вашата кошница за пазаруване.

                            <h6>Какво представляват постоянните бисквитки?</h6>
                            Постоянните бисквитки (или запазените бисквитки) ще останат в компютъра, след като затворите
                            вашият браузър. Уеб сайтовете ги използват за съхраняване на информация, например вашето име
                            и парола за влизане, така че да не е необходимо да се регистрирате всеки път, когато
                            посетите даден сайт. Постоянните бисквитки могат да останат на вашия компютър дни, месеци и
                            дори години.

                            <h6>По принцип бисквитките изпълняват 3 функции:</h6>

                            1. Бисквитки свързани с анализ ефективността на сайта.<br>
                            Използваме бисквитки, за да анализираме как посетителите използват сайтa
                            ни и за да наблюдаваме представянето на нашия сайт. Това ни позволява да ви предложим
                            преживяване с високо качество, като персонализираме предлаганото съдържание и бързо
                            идентифицираме и отстраняваме различни проблеми.<br>


                            2. Функционални бисквитки<br>
                            Функционалните бисквитки ни позволяват да запомним вашите предпочитания, като големината
                            на шрифта и други ваши прсонални настройки, както и бутони за споделяне към социалните
                            мрежи.<br>


                            3. Таргетирани рекламни бисквитки<br>
                            “Mashinite” използва бисквитките за таргетирана реклама в платформите на Meta, Google
                            Adwords & Linkedin.<br>


                            <h6>Бисквитките на Mashinite се използват само от Mashinite  .</h6><br>

                            <h6>Как да изключите бисквитките?</h6><br>
                            Всички съвременни браузъри ви позволяват да променяте настройките за бисквитки.
                            Обикновено можете да намерите тези настройки в меню “опции” или “предпочитания” на вашия
                            браузър. За да сте наясно с тези настройки, следните линкове могат да Ви помогнат или можете
                            да използвате бутона “Помощ” от менютата на Вашия браузър за повече детайли:<br>


                            Cookie settings in Internet Explorer<br>
                            Cookie settings in Firefox<br>
                            Cookie settings in Chrome<br>
                            Cookie settings in Safari web and iOS.<br>

                            Ако се притеснявате най-много за рекламните бисквитки към трети страни генерирани от
                            рекламодатели, можете да ги изключите от тук: Your Online Choices site.<br>

                            Моля да запомните, че ако решите да спрете бисквитките, някои секции от нашия сайт може да
                            не работят правилно.<br>

                            Ако имате някакви въпроси по отношение на тази Политика за бисквитки, свържете се
                            с нас на имейл info@mashinite.com<br>

                            Този документ е обновяван за последно на 04.08.2024 г.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
</body>

</html>