<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Регистрация</title>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>

    <script>
        function validatePasswords() {
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirmPassword").value;
            const errorMessage = document.getElementById("error-message");

            if (password !== confirmPassword) {
                errorMessage.textContent = "Паролите не съвпадат!";
                return false;
            } else {
                errorMessage.textContent = "";
                return true;
            }
        }
    </script>
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- site__body -->
    <div class="site__body">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column" style="padding-top: 20px;">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">
                                <div class="card flex-grow-1 mb-0">
                                    <h3 class="card-title" style="text-align: center;">Регистрация</h3>
                                    <form th:action="@{/register}" th:object="${registerRequest}" method="post"
                                          onsubmit="return validatePasswords()">
                                        <div class="form-group">
                                            <input type="email" id="email" th:field="*{email}"
                                                   class="form-control" placeholder="Въведи имейл" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="password" th:field="*{password}"
                                                   class="form-control" placeholder="Въведи парола" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="confirmPassword" class="form-control"
                                                   placeholder="Повтори паролата" required>
                                        </div>
                                        <div id="error-message" style="color: red;"></div>
                                        <button type="submit" class="btn btn-primary mt-4">Регистрирай се</button>
                                        <p th:text="${message}" th:if="${message}">Success message will appear here</p>
                                        <p th:text="${error}" th:if="${error}" style="color: red;">Error message will appear here</p>
                                    </form>

<!--                                    TODO: change the hardcoded url-->
                                    <a href="http://localhost:8080/oauth2/authorization/google" class="btn btn-google">
                                        <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"
                                             alt="Регистривай се с Google">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- site__body / end -->
        <!-- site__footer -->
        <th:block th:insert="~{fragments/footer}"></th:block>
    </div>
</div>
</body>
</html>