<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Нулирана парола</title>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- site__body -->
    <div class="site__body">
        <div class="block">
            <div class="container">
                <div>
                    <div class="col-md-6 d-flex flex-column" style="padding-top: 20px; margin: 0 auto;">
                        <div class="card flex-grow-1 mb-md-0">
                            <div style="text-align: center;"><br>
                                <h3 class="card-title" style="text-align: center;">Успешно променена парола!</h3>
                                <p style="text-align: center;">Паролата Ви бе успешно променена.</p>
                                <p style="text-align: center;">Впишете се в сайта чрез новата си парола.</p>
                                <a href="/login">Впиши се</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site__body / end -->
    <!-- site__footer -->
    <th:block th:insert="~{fragments/footer}"></th:block>
</div>
</div>
</body>
</html>
