<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Mashinite е водещият български портал за машини, предлагащ широк асортимент от оборудване и резервни части за различни индустрии.
    Машини и оборудване. Безплатни обяви за строителни, транспортни машини и други, кранове, мотокари, платформи. Покупко-продажба на автосервизно оборудване, медицинско и лабораторно оборудване.
    Фирми за машини. Бизнес каталог. Бизнес каталог на фирми за машини. Публикувай фирма за машини, рекламирай фирмата си. Направи си фирма напълно безплатно в Mashinite
    Моите фирми. Моята фирма. Информация за моята фирма за машини.">
    <meta name="keywords" content="машини, mashini, mashinite, mashina, машина, обяви, продан, части, машинни части, оборудване, индустриално оборудване, строителна техника, селскостопански машини, резервни части, Mashinite, България,
    фирма, обави, публикувай фирма за машини, рекламирай машини, рекламирай фирма, бизнес каталог, бизнес каталог за фирми.
    Моите фирми. Моята фирма. Информация за моята фирма за машини.">
    <meta name="author" content="Екипът на Mashinite">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Mashinite - Водещ портал за машини в България. Моите фирми. Моята фирма. Информация за моята фирма за машини.">
    <meta property="og:description" content="Mashinite предлага най-доброто място за търговия с машини, резервни части и производствени оборудвания.
    Фирми за машини. Бизнес каталог. Бизнес каталог на фирми за машини. Публикувай фирма за машини, рекламирай фирмата си. Направи си фирма напълно безплатно в Mashinite">

    <title>Моите фирми</title>
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <th:block th:insert="~{fragments/links}"></th:block>
    <link rel="stylesheet" th:href="@{/css/toast.css}">
</head>

<body>
<!-- site -->
<div class="site">
    <!-- mobile site__header -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <!-- site__body -->
    <div class="site__body">
        <!-- Toast notification container -->
        <div id="toast" class="toast"></div>

        <!-- Hidden error message container for Thymeleaf -->
        <p id="error-message-hidden" th:text="${error}" th:if="${error}" style="display: none;">Error message will
            appear here</p>
        <div class="block">
            <div class="container">
                <div>
                    <div class="col-md-10 d-flex flex-column" style="padding-top: 20px; margin: 0 auto;">
                        <div class="card flex-grow-1 mb-md-0">
                            <div class="card-body">

                                <div class="products-view__list products-list" data-layout="list"
                                     data-with-features="false"
                                     data-mobile-grid-columns="2">
                                    <div class="products-list__body">
                                        <!--                                    PRODUCT ITEM-->
                                        <!--                                    PRODUCT ITEM-->
                                        <!--                                    PRODUCT ITEM-->
                                        <!--                                    PRODUCT ITEM-->
                                        <div th:each="company : ${companies}" class="products-list__item">
                                            <div class="product-card product-card--hidden-actions">
                                                <div class="product-card__image product-image">
                                                    <a class="product-image__body">
                                                        <img th:src="@{${company.mainPicture.path}}"
                                                             class="product-image__img" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-card__info">
                                                    <div class="product-card__name">
                                                        <a th:href="@{/companies/{id}(id=${company.id})}"
                                                           th:text="${company.name}"></a>
                                                    </div>
                                                    <ul class="product-card__features-list">
                                                        <li th:text="'Телефонен номер : ' + ${company.phoneNumber}"></li>
                                                        <li th:text="'Собственик на фирмата : ' + ${company.owner.name} + ' ' + ${company.owner.surname}"></li>
                                                        <li th:text="'Град : ' + ${company.city.name}"></li>
                                                        <li th:text="'Адрес : ' + ${company.address}"></li>
                                                    </ul>
                                                </div>
                                                <div class="product-card__actions">
                                                    <div class="product-card__buttons">
                                                        <a href="#" th:href="@{/companies/{id}(id=${company.id})}"
                                                           class="btn btn-secondary product-card__addtocart product-card__addtocart--list">
                                                            Прочети повече
                                                        </a>
                                                    </div>
                                                    <br>
                                                    <a th:href="@{/companies/update/{id}(id=${company.id})}">
                                                        <button type="button" class="btn btn-info">Редактирай
                                                        </button>
                                                    </a><br>
                                                    <th:block th:if="${company.deletedAt == null}">
                                                        <form th:action="@{/companies/delete/{id}(id=${company.id})}"
                                                              method="post" style="display:inline;">
                                                            <button type="submit" class="btn btn-danger">Изтрий
                                                            </button>
                                                        </form>
                                                    </th:block>
                                                    <th:block th:if="${company.deletedAt != null}">
                                                        <form th:action="@{/companies/delete/{id}(id=${company.id})}"
                                                              method="post" style="display:inline;">
                                                            <button type="submit" class="btn btn-success">
                                                                Възстанови
                                                            </button>
                                                        </form>
                                                    </th:block>
                                                    </td>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination">
                                        <!-- Previous Page Link -->
                                        <div th:if="${companies.hasPrevious()}">
                                            <a th:href="@{/companies/admin(page=${companies.number}, size=${companies.size})}"
                                               class="pagination__link">Предишна</a>
                                        </div>

                                        <!-- Page Number Display -->
                                        <span>Страница <span th:text="${companies.number + 1}"></span> от <span
                                                th:text="${companies.totalPages}"></span></span>

                                        <!-- Next Page Link -->
                                        <div th:if="${companies.hasNext()}">
                                            <a th:href="@{/companies/admin(page=${companies.number + 2}, size=${companies.size})}"
                                               class="pagination__link">Следваща</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- site__body / end -->
            <!-- site__footer -->
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/footer}"></th:block>
<!-- Include the toast.js file -->
<script th:src="@{/js/toast.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

<!-- Initialize DataTables -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initialize DataTables with default page length
        var table = $('#example').DataTable({
            paging: true,
            lengthChange: false,
            pageLength: 5,
            language: {
                paginate: {
                    previous: '«',
                    next: '»'
                }
            }
        });

        // Handle page length change
        $('#pageLengthSelect').on('change', function() {
            var pageLength = $(this).val();
            table.page.len(parseInt(pageLength)).draw();
        });

        // Toggle between active and inactive entities
        $('#toggleActiveInactive').on('change', function() {
            var showActive = $(this).prop('checked');
            table.rows().every(function() {
                var row = this.node();
                var deletedAt = $(row).find('td:nth-child(4)').text().trim();
                if (showActive) {
                    // Show active entities
                    if (deletedAt) {
                        $(row).hide();
                    } else {
                        $(row).show();
                    }
                } else {
                    // Show all entities
                    $(row).show();
                }
            });
        }).trigger('change');  // Trigger change event on page load to ensure initial state
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const pageSizeSelect = document.getElementById('pageSizeSelect');

        // Function to reload page with new page size
        function updatePageSize(pageSize) {
            const currentPage = new URLSearchParams(window.location.search).get('page') || 1;
            window.location.href = `/companies?page=${currentPage}&size=${pageSize}`;
        }

        // Event listener for page size change
        pageSizeSelect.addEventListener('change', function() {
            const pageSize = pageSizeSelect.value;
            updatePageSize(pageSize);
        });

        // Set the initial value based on current page size
        const currentSize = new URLSearchParams(window.location.search).get('size') || 5;
        pageSizeSelect.value = currentSize;
    });
</script>
</body>
</html>